$body-font-size: 1.6rem; // 16px

@font-face {
    font-family: 'Karla';
    src: url('../fonts/karla-regular.woff2') format('woff2'),
        url('../fonts/karla-regular.woff') format('woff'),
        url('../fonts/karla-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/karla-bold.woff2') format('woff2'),
        url('../fonts/karla-bold.woff') format('woff'),
        url('../fonts/karla-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}